<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui@2.12.0/lib/theme-chalk/index.css">
</head>

<body>
  <div id="app">
    <h3>element-ui中下拉框select使用demo</h3>
    <em>{{this.$data}}</em>
    <hr>
    <el-select v-model="currentPhone" placeholder="请选择手机品牌">
      <el-option v-for="phone in phones" :key="phone.brand" :value="phone.market" :label="phone.brand">
        </el-options>
    </el-select>
    <hr>
    <h2>element-ui中下拉框select使用demo 远程数据动态绑定 级联操作</h2>

    <el-select id="one" v-model="user" placeholder="请选择用户" @change="getData()">
        <el-option v-for="item in one.data" :key="item.username" :value="item.age" :label="item.username">
          </el-options>
      </el-select>
      <el-select id="two" v-model="age" placeholder="请选择年级">
        <el-option v-for="item in two" :key="item.class" :value="item.class" :label="item.class">
          </el-options>
      </el-select>
  </div>
  <div>
    <p>
      在vue定义的方法之外调用vue中data的字段时，用this.msg这样的找不到
      只能通过定义vue的实例vm.msg才能使用
    </p>
  </div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue@2.6.10/dist/vue.min.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui@2.12.0/lib/index.js"></script>
<script src="https://unpkg.com/axios@0.19.0/dist/axios.js"></script>
<script>
  //加载一级菜单
  var load_one = function () {
    // vm.loading = true;
    var url = "https://www.fastmock.site/mock/04c1c7f1cad69cd80f194bff419aa2bf/data/api/test/data";
    var response = axios.get(url)
      .then(
        function (response) {
          console.log("加载一级菜单");
          console.log(response.data);
          vm.one = response.data;
        }
      )
      .catch(function (error) {
        console.log(error);
      })
      .finally(function () {
        // vm.loading = false;
      });
  };
  //联动加载二级菜单
  var load_two = function (val) {
    // vm.loading = true;
    var url = "https://www.fastmock.site/mock/04c1c7f1cad69cd80f194bff419aa2bf/data/api/age?age=" + val;
    var response = axios.get(url)
      .then(
        function (response) {
          console.log("加载二级菜单");
          console.log(response.data);
          vm.two = response.data;
        }
      )
      .catch(function (error) {
        console.log(error);
      })
      .finally(function () {
        // vm.loading = false;
      });
  };
  var vm = new Vue({
    el: '#app',
    data: function () {
      return {
        visible: false,
        phones: [{
          "brand": "apple",
          "market": 0.3
        }, {
          "brand": "samsung",
          "market": 0.4
        }, {
          "brand": "nokia",
          "market": 0.01
        }],
        currentPhone: "",
        one: "",
        two: "",
        user: "",
        age:""
      }
    },
    methods: {
      getData: function () {
        load_two(this.user);
      }
    },
    created: function () {
      load_one();
    },
    mounted: function () {
      //load_one();
    }
  })
</script>

</html>